.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)),
    url(/public/images/blog.jpg);
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}